.heroCard {
  display: flex;
  width: 188.57px;
  height: 245.97px;
  flex-direction: column;
  position: relative;
  @media (min-width: 393px) {
    width: 172.5px;
    height: 245.97px;
  }
  &:hover{
    .imgfooter{
      height: 0px;
    }
    .redCard{
      height: 56px;
    }
    .heroCard__fav{
      img{
        filter: brightness(900%);
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    .image {
      width: 188.57px;
      height: 189.97px;
      object-fit: cover;
      object-position: left center;
      @media (min-width: 393px) {
        width: 172.5px;
        height: 189.97px;
      }
    }
    .redCard{
      background-color: var(--colors-red);
      height: 0px;
      transition: height ease 0.5s;
    }
    .imgfooter {
      width: 188.57px;
      height: 56px;
      transition: height ease 0.5s;
      @media (min-width: 393px) {
        width: 172.5px;
      }
    }
    .imgCut{
      position: absolute;
      width: 12.86px;
      height: 12.86px;
      bottom: 0px;
      right: 0px;
    }
    .name {
      position: absolute;
      bottom: 18px;
      left: 15px;
      width: 125px;
      font-weight: 400;
      font-size: 14px;
      color: var(--colors-white);
      overflow: hidden;
      text-wrap: nowrap;
    }
  }
  &__fav {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 18px;
    right: 15px;
    outline: none;
    img {
      width: 12px;
      height: 10.84px;
    }
  }
}


