:root {
  --colors-black: #000;
  --colors-white: #fff;
  --colors-red: #EC1D24;
  --colors-gray: #ccc;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: roboto;
}

@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 400, 500, 700;
  font-display: swap;
  src: url(./assets/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}


